body {
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

@media (min-width: 1024px) {
  body {
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: center;
  }
}

.container {
  max-width: 1200px;
  margin: 20px 10px;
  border-radius: 10px;
  border: 1px solid #FCBF45;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(247, 250, 251, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.7rem;
}

.header img {
  width: 30px;
  margin-right: 10px;
}

::placeholder {
  color: #b48f2b;
}

.header h1 {
  font-size: 1.2em;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.title {
  font-size: 1.3em;
  color: #333;
  margin-bottom: 20px;
}

.group-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0px 20px;
}

@media (max-width: 768px) {
  .group-list {
    grid-template-columns: 1fr;
  }
}

.group-item {
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;

}

.group-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.group-name-input {
  font-size: 1.2em;
  border: none;
  background: none;
  color: #007BFF;
  text-align: center;
  width: 80%;
  cursor: pointer;
}

.group-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.name-list {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
}

.toggle {
  cursor: pointer;
  margin-top: 10px;
}

.group-name {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #007BFF;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.modal-icon {
  width: 50px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
}

.modal-icon.disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 3em;
  cursor: pointer;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #FFA500;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
}

.back-button:hover {
  background-color: #e69500;
}

.export-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  margin-top: 20px;
}

.export-button {
  background-color: #3498db;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9rem;
  width: 45%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  font-weight: 600;
}

.export-button i {
  margin-right: 8px;
  font-size: 1rem;
}

.export-button:hover {
  background-color: #2980b9;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3498db;
  color: white;
  padding: 8px 0px 8px 0px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 200px;
}

.back-button i {
  margin-right: 8px;
  font-size: 1rem;
}

.back-button:hover {
  background-color: #2980b9; /* Azul más oscuro para hover */
}
